/* shared styles */
.gray{
    color: #6C6C6C;
}
header, main{
    max-width: 1440px;
    margin: 0px 120px;

}
.btn-primary{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 42px;
    color: #FFFFFF;
    border: none;
}

/* header section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 120px;
}
nav ul a{
   text-decoration: none;
   color: black;
   font-size: 1rem;
   font-weight: 500;
}
nav li{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 34px;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
}
/* banner section */
.title{
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1.5rem;
    font-weight: 500;
}
.banner{
    display: flex;
    /* margin-left: 92px;
    margin-right: 132px; */
    gap: 161px;
}
.banner-img{
    background-image: url(../images/Circle\ design.svg);
}

/* main section */
.brand{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 100px auto 0px;
}
.product-item{
text-align: center;
    margin: 100px auto 0px;
}
.item-title{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    text-align: left;
}
.card{
    padding: 14px;
     box-shadow: 5px 5px 20px #6C6C6C; 
     display: flex;
     justify-content: center;
     align-items: center;
    
}
.gear{
    display: flex;
    margin: 100px auto 0px;
    gap: 96px;
}
.gear-container{
    margin: 23px 0px;
}
.gear-title{
    font-size: 2.3rem;
    font-weight: 700;
}
footer{
    background-color: rgba(17, 4, 42, 1);
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 1);
}
.box{
    text-align: center;
padding: 50px 0px;
}
footer i{
    color: white;
}
.icon{
    display: flex;
  gap: 10px;
  justify-content:center;
}


/* responsive styles */
@media screen and (max-width:576px) {
    header , main{
        margin: 10px 20px;
    }
.banner{
    flex-direction: column-reverse;
    gap: 40px;
}
nav{
    flex-direction: column;
   
}
/* nav ul{
    flex-direction: column;
} */
.card{
    padding: 0px;
}
    .brand{
      grid-template-columns: repeat(3,1fr);
      row-gap: 10px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .gear{
        flex-direction: column-reverse;
    }
    .banner-img{
        width: 100%;
    }
}